@import "btn";
@import url( 'https://fonts.googleapis.com/css?family=Roboto:300, 400');
$sizeQotient: 1.5;

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.appContainer {
    height: 100vh;
    background: url("../img/space.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    .btn {
        padding: 5px;
        background-color: white;
        border: none;
        margin: 5px;
        outline: none;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 200;
        cursor: pointer;

        &.active {
            font-weight: 500;
        }
    }

    .planetContainer {
        width: 100%;
        display: flex;
        flex-direction: column;

        .planetTitle {
            border-radius: 3px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            z-index: 2;
            font-size: 30px;
            font-weight: 500;
            color: white;
        }

        .planetData {
            background-color: rgba(61, 61, 61, 0.94);
            border-radius: 3px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            padding: 15px 40px;
            z-index: 2;
            color: ivory;

            .infoField {
                text-align: left;
                padding: 4px 15px;
            }

            .valueField {
                text-align: right;
                padding: 4px 15px;
            }
        }

        .svg {
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            overflow: visible;

            circle {
                -webkit-transition-duration: 1s;
                transition-duration: 1s;
                transform-origin: center;
            }

            .Saturn {
                transform-origin: center;
                transform: scale(.84 * $sizeQotient);
                transition: transform 1s;
            }

            .Jupiter {
                transform-origin: center;
                transform: scale(1 * $sizeQotient);
                transition: transform 1s;
            }

            .Earth {
                transform-origin: center;
                transform: scale(0.08 * $sizeQotient);
                transition: transform 1s;
            }

            .Mars {
                transform-origin: center;
                transform: scale(0.04 * $sizeQotient);
                transition: transform 1s;
            }

            .Venus {
                transform-origin: center;
                transform: scale(0.084 * $sizeQotient);
                transition: transform 1s;
            }

            .Neptune {
                transform-origin: center;
                transform: scale(0.34 * $sizeQotient);
                transition: transform 1s;
            }

            .Uranus {
                transform-origin: center;
                transform: scale(0.35 * $sizeQotient);
                transition: transform 1s;
            }

            .Mercury {
                transform-origin: center;
                transform: scale(0.034 * $sizeQotient);
                transition: transform 1s;
            }
        }
    }
}
